<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<% transaction_by_year = Transaction.group_by_year(:time_placed) %>
<h1>Transactions placed per year</h1>
<%= line_chart transaction_by_year.count %>

<h1>Total amount sold per customer/year</h1>
<%= line_chart transaction_by_year.sum(:amount_sell).transform_values(&:to_i), thousands: ',' %>

<h1>Average amount sold per customer/year</h1>
<%= line_chart transaction_by_year.average(:amount_sell).transform_values(&:to_i), thousands: ',' %>

<h1>Total transactions per country</h1>
<%= geo_chart Transaction.group(:originating_country).count %>

<% transactions_grouped_by_currency_from = Transaction.group(:currency_from) %>
<% transactions_grouped_by_currency_to = Transaction.group(:currency_to) %>

<h1>Top sold currencies</h1>
<%= column_chart transactions_grouped_by_currency_from.order('COUNT(currency_from) DESC').limit(15).count %>

<h1>Top bought currencies</h1>
<%= column_chart transactions_grouped_by_currency_to.order('COUNT(currency_to) DESC').limit(20).count %>

<h1>Least sold currencies</h1>
<%= column_chart transactions_grouped_by_currency_from.order('COUNT(currency_from) ASC').limit(15).count %>

<h1>Least bought currencies</h1>
<%= column_chart transactions_grouped_by_currency_to.order('COUNT(currency_to) ASC').limit(20).count %>
